<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Hello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>murach.com.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>murach.com.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewScheduleServlet</display-name>
    <servlet-name>ViewScheduleServlet</servlet-name>
    <servlet-class>murach.com.ViewScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewScheduleServlet</servlet-name>
    <url-pattern>/view-schedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddScheduleServlet</display-name>
    <servlet-name>AddScheduleServlet</servlet-name>
    <servlet-class>murach.com.AddScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddScheduleServlet</servlet-name>
    <url-pattern>/add-schedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDayOffServlet</display-name>
    <servlet-name>ViewDayOffServlet</servlet-name>
    <servlet-class>murach.com.ViewDayOffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDayOffServlet</servlet-name>
    <url-pattern>/view-dayOff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRoomServlet</display-name>
    <servlet-name>ChangeRoomServlet</servlet-name>
    <servlet-class>murach.com.ChangeRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRoomServlet</servlet-name>
    <url-pattern>/change-room</url-pattern>
  </servlet-mapping>
</web-app>